@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Zen+Kaku+Gothic+Antique&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Zen Kaku Gothic Antique',
        sans-serif;
    color: sandybrown;
}

header {}

/*Logo and Headings*/

h1 {
    font-family: 'Zen Kaku Gothic Antique',
        sans-serif;
    text-transform: uppercase;
    color: sandybrown;
}

h2 {
    font-family: 'Zen Kaku Gothic Antique',
        sans-serif;
    text-transform: uppercase;
    color: #56727C;
}

.heading-margin {
    margin-bottom: 15px;
}

#logo {
    font-size: 250%;
    letter-spacing: 4px;
    font-weight: 600;

}

/* navigation links */

nav>a {
    text-decoration: none;
}

nav {
    border: 1px solid sandybrown;
    background-color: #56727C;

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#menu {
    font-size: 150%;
    display: flex;
    align-items: right;
}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid sandybrown;
}

.active {
    border-bottom: 1px solid sandybrown;
}

/* Main Image and credo*/

#main-image {
    height: 600px;
    width: 100%;
    background-image: url('../images/main-image.jpg');
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    border: 2px solid sandybrown;


}

#credo {
    background-color: rgba(244, 164, 96, 0.6);
    color: #56727C;
    height: 150px;
    width: 300px;
    margin-top: 50px;
    margin-right: 50px;


}


/*vacation-details*/

#vacation-details {
    display: flex;
    justify-content: space-around;

}

#facilities,
#distance {
    height: 300px;
    width: 20%;
    padding: 10px;

    background: #56727C;
    border: 2px solid sandybrown;

    font-size: 150%;
    line-height: 40px;
}

#distance>ul,
#facilities>ul {
    list-style: none;
}

/*map*/
#map>iframe {
    border: 2px solid sandybrown;
}


/* footer */

footer>ul {
    line-height: 75px;
    border: 2px solid sandybrown;
    background-color: #56727C;

}

#footer-contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}

#footer-contacts>li {
    list-style-type: none;
}

#footer-contacts>li>a {
    color: sandybrown;
    font-size: 200%;
}