h1 {
    text-align: center;
}

nav>ul>li {
    display: inline-block;
    text-align: center;
    width: 10rem;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    text-transform: uppercase;
}

nav {
    text-align: center;
}